.League_Logo {
    height: 100px;
    margin-top: 2.5vh;
    width: 75px;
    margin-left: 15%;
    cursor: pointer;
    text-align: center;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.League_card {
    margin: auto;
    width: 18rem;
    padding-bottom: 3rem;
    background-color: rgba(57, 153, 61, 0.679); 
    display: inline-block;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.League_card_selected {
    border: 6px;
    border-color: rgb(251, 255, 0);
    border-style: solid;
}

.League_selection {
    display: block;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    width: auto;
    background-color: rgba(12, 110, 16, 0.679);
    padding: 75px;
}


.League_name {
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.page_title {
    color: white;
    font-size: 80px;
    text-align: center;
    padding-bottom: 3rem;
}


