.Games-boxes {
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    height: 100px;
    width: auto;
    cursor: pointer;
  }
  
  .Games-Teams-Home {
    object-fit: "contain";
    max-width:100%;
    max-height:100%;
    text-align: right;
  }

  .Games-Teams-Away {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    text-align: left;
  }


  .Games-Scores{
    text-align: center;
    padding-top: 40px;
  }

  .Games-Teams-Pictures{
    max-width:100%;
    max-height:100%;
  }

  .form{
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    width: 300px;
  }